
body{
   
   font-family: Arial, Helvetica, sans-serif;
}

div.main{
    padding: 10px;
    margin: 200px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    box-sizing: 500px;
    width: 400px;
}



p{
    font-size: 40px;
    
}


